<footer>
  <div class="container">
    <div class="row ">
      <div class="col-sm-3">
        <p>
          <a href="http://www.connectis.es/contacto" id="myA">
            <strong>Contacto</strong>
          </a>
          <br>
          <a href="http://www.connectis.es/contacto" id="myA">
            Home
          </a>
        </p>
      </div>
      <div class="col-sm-3">
        <p>
          <a href="http://www.connectis.es/aviso-legal" id="myA">Aviso legal</a>
          <br>
          <a href="http://www.connectis.es/aviso-legal" id="myA">Calidad</a>
        </p>

      </div>
      <div class="col-sm-3">
        <a href="http://www.connectis.es/conocenos/donde-estamos" id="myA">
          Descubre dónde estamos:
          <br> elige tu oficina más cercana
        </a>
      </div>
      <div class="col-sm-3" id="icon-footer">
        <i class="fa fa-linkedin-square"></i>
        <i class="fa fa-youtube-square"></i>
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-twitter-square"></i>
      </div>
    </div>
  </div>
</footer>