<header>
  <div class="container">
    <div class="col-sm-12">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="mynavbar">

        <div class="row">
            <a class="navbar-brand" href="#">
              <img src="/assets/img/newMyEnterpriselogo.gif" width="191" height="41" alt="">
            </a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="myButton">
              <!-- <span class="navbar-toggler-icon"></span> -->
              <i class="fa fa-bars" id="navIcon"></i>
            </button>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto" id="navText">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['home']">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://www.connectis.es/conocenos/quienes-somos">CONÓCENOS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['suggestion']">ENVÍA UN CANDIDATO</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>